<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SearchIt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SearchIt.Properties.Settings>
            <setting name="FormBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FormForegroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SearchBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SearchForegroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ElementBorderColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="FormOpacity" serializeAs="String">
                <value>75</value>
            </setting>
        </SearchIt.Properties.Settings>
    </userSettings>
</configuration>